
@{
    ViewData["Title"] = "Index";
}


<h5>Total Views : <span id="totalCount"></span> </h5>

@section Scripts{
    <script src="~/js/signalr.js"></script>
    <script src="~/css/UserCount.js"></script>
}